.unorderlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: bisque;
  }

  .common {
    /* background-color: whitesmoke; */
    /* border: solid 2px black; */
    position: absolute;
}

body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    border-bottom: solid 1px #555555;
    resize: horizontal;
}

.mainbody{
    top: 114px;
    bottom: 64px;
    right: 114px;
    left: 114px;
    resize: both;
}

.footer {
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
    font-size: 12px;
    color: grey;
    text-align: center;
    position: fixed;
    resize: horizontal;
}

.underline{
  text-decoration:  underline;
}

a:visited{
  color:black;
}

.captionbox {
  border-style: solid;
  border-width: 2px;
  border-color:rgb(41, 135, 206);
  padding: 10px;
  margin: 100;

}
  